<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBooks</title>
    <style></style>
</head>

<body>
    <form action="/add" method="POST" enctype="multipart/form-data">
        <label for="MyBooks">Browse a File :</label>
        <input type="file" id='MyBooks' name="MyBooks"><br> <br>
        <button type="submit" name="upload">Upload</button>
        <button type="reset" name="Clear">Clear</button>
    </form>
</body>

</html>
